<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href='./styles.css'>
</head>

<body>
  <div class="container text-center">


    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
  <div class='container text-left'>
    <div class='row'>
      <h3>Latest Mars News:</h3>
    </div>
    <div class='row'>
      <h5>{{facts.nasa_title}}</h5>
      <p>{{facts.nasa_news}}</p>
    </div>
  </div>

  <div class='container text-left'>

    <div class='row'>
      <div class='col'>
        <H6><strong>Featured Mars Image</strong></H6>

        <a href='{{facts.jpl_featured_url}}'><img src='{{facts.jpl_featured_url}}' width='600' height='600'></a>
        </p>
      </div>
      <div class='card' style="width: 18rem;height: 15 rem;">
        <div class='col'>
        <strong>Current Mars Weather:</strong>
        {{facts.mars_weather}}
        <strong>Mars Facts:</strong>  {{facts.mars_facts| safe}}

      </div>
    </div>
    </div>
    <div class = 'row'>
    <h4>Mars Hemispheres </h4>
  </div>


    <div class= 'row'>
      <div class= 'col-4'>
          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src='{{facts.hemisphere1_link}}' alt="Card image cap">
            <div class="card-body">

              <p class="card-text">{{facts.hemisphere1_name}}</p>

            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src='{{facts.hemisphere2_link}}' alt="Card image cap">
            <div class="card-body">

              <p class="card-text">{{facts.hemisphere2_name}}</p>

            </div>
          </div>
</div>
<div class='col-4'>
          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src='{{facts.hemisphere3_link}}' alt="Card image cap">
            <div class="card-body">

              <p class="card-text">{{facts.hemisphere3_name}}</p>

            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src='{{facts.hemisphere4_link}}' alt="Card image cap">
            <div class="card-body">

              <p class="card-text">{{facts.hemisphere4_name}}</p>

            </div>
          </div>




  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>